* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
    font-family: Inter, sans-serif;
}

/* Header section styles */
header {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0;
}

.logo img {
    width: 139px;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 2rem;
}

.menu a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 16px;   
    font-weight: 500;
}

.my-btn button {
    background-color: #479065;
    line-height: 19px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.my-btn button:hover {
    background-color: #3a7454;
}

/* Hero section styles */
.hero-section {
    background-image: url('./assets/hero-bg.png');
    color: #fff;
    min-height: 674px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero-content h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    background-color: #fff;
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
}
.hero-content h6 i{
    font-size: 16px;
    margin-right: 6px;
    line-height: 19px;
}
.hero-content h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 84px;
}
.hero-content h1 span {
    color: #30B868;
    font-weight: 700;
}
.hero-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;
}
.my-btn button:first-child i {
    margin-left: 10px;
}
.my-btn button:nth-child(2) i {
    margin-right: 10px;
}
.my-btn button:nth-child(2) {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    padding: 10px 14px;
    margin-left: 10px;

}

/* card section styles  */
.card-section {
    padding: 80px 0;
    background-color: #fbfbfb;
}
.card-container {
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.card-container h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.card-container > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 44px;
}
.card-holder {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.card {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
.card img {
    border-radius: 100%;
    padding: 12px;
    background-color: #f0f0f0;
    background: rgba(249, 85, 85, 1);
    margin-top: 30px;
}
.card h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.card p {
    margin-bottom: 30px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}